.messagesView {

}

.chat {
    overflow-y: auto;
    height:0;
    padding-bottom: 11px;
}

.chat.expanded {
    height:180px;
}

.bubbleContainer {
    width: 100%;
    display: inline-block;
}

.bubble{
    color: white;
    display: inline-block;
    vertical-align: top;
    padding: 10px 18px;
}

.user {
    background-color: #0084ff;
    border-radius: 2px 15px 15px 15px;
    margin: 0 7px 0 0;
    float: left;
}

.app {
    background-color: #00BA78;
    border-radius: 15px 2px 15px 15px;
    margin: 0 7px 0 0;
    float: right;
}

.custom-scroll::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb
{
    background-color: #bdbdbd;
    border-radius: 15px;
}
