.storyInputView {
    margin-bottom: 45px;
}

.textAreaLabel {
    text-align: center;
}

.storyInputView input {
    font-size: 25px;
    color: #28cabc;
    padding: 23px 10px;
    border-radius: 3px;
}

.btn.apply {
    width: 200px;
}

form {
    margin-top: -19px;
}