.storyInputView {
    margin-bottom: 45px;
}

.textAreaLabel {
    text-align: center;
}

.storyInputView input {
    font-size: 25px;
    color: #28cabc;
    padding: 23px 10px;
    border-radius: 3px;
}

.btn.apply {
    width: 200px;
}

form {
    margin-top: -19px;
}

.storyInputView .form-group {
    margin-bottom: 10px;
}

a {
    color: #7ab6ec;
}

.storyInputView a:hover, .storyInputView a:focus {
    text-decoration: initial;
    color: #7ab6ec;
}

.set-display-none {
    display: none;
}

.note {
    color: #d5d5d5;
}