body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  outline: initial;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: initial;
}

.apply.btn:focus, .apply.btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: initial;
}
